{% extends 'index.html' %}
{% load static %}
{% block title %}pylims{% endblock %}
{% block headdata %}
<script src="{% static 'js/pylims_request.js' %}"></script>
<style>
	.listed_org {
		height:50px;
		margin-bottom:10px;
	}
	.listed_org img {
		height:50px;
		float:left;
		margin-right: 10px;
	}
	.edit_org input, .edit_org textarea {
		width:100%;
		margin-bottom:10px;
		box-sizing:border-box;
	}
	
	#file-input {
		display: none;
	}
	#image_upload {
		display:flex;
		margin-bottom:20px;
	}
	#image_upload img {
		max-height:128px;
		max-width:128px;
	}
	#edit_org_image {
		
	}
	#drop-area {
		border: 2px dashed #ccc;
		border-radius: 20px;
		line-height:128px;
		text-align: center;
		margin-left: 20px;
		width: 80%;
		cursor: pointer;
		flex-grow:1;
		box-sizing:border-box;
		background-color: var(--inputbg);
	}
	.edit_org textarea {
		min-height:128px;
		box-sizing:border-box;
	}
</style>
{% endblock %}
{% block centercontent %}

<div id="organizations" class="center-border">
{{ adminlinks|safe }}
<div class="h1" id="page_title">Admin: Assign Members</div>
<div id="organizations_display"></div>
</div>

{% endblock %}

{% block javascript %}
<script>
const mod={{ mod|safe }};
const urlprefix='{{url}}';
const options={{ mod_options|safe }};
const csrf = '{{ csrf_token }}';
const mod_data = {{ mod_data.data|safe }};
var org_data=null;

console.log('mod',mod,'options',options)
const main = document.getElementById('organizations_display');
const page_title = document.getElementById('page_title');

function admin_list_orgs() {
	let data={}
	const pyoptions={data,csrf,urlprefix,url:'admin_list_orgs',submit_mode:'auto'}
	pylims_post(pyoptions).then(result => {
		console.log('pylims.post result x',result.data);
		org_data={};
		
		for (let org of result.data) {
			org_data[org.oid]=org;
			console.log('processing',org)
			const listedOrgDiv = document.createElement('div');
			listedOrgDiv.classList.add('listed_org');

			// Create the text node for org oid
			const orgIdTextNode = document.createTextNode(`${org.oid}. `);

			// Create the img element for displaying the organization image
			const orgImage = document.createElement('img');
			orgImage.setAttribute('src', org.image);
			orgImage.setAttribute('style', 'height:50px;');

			// Create the anchor element for organization name
			const orgNameAnchor = document.createElement('a');
			orgNameAnchor.setAttribute('href', '#');
			orgNameAnchor.setAttribute('onClick', `admin_load_members(${org.oid});`);
			orgNameAnchor.textContent = org.organization_name;

			// Create the br element
			const lineBreak = document.createElement('br');

			// Create the text node for organization description
			const orgDescriptionTextNode = document.createTextNode(org.description);

			// Append all created elements to the listedOrgDiv
			listedOrgDiv.appendChild(orgIdTextNode);
			listedOrgDiv.appendChild(orgImage);
			listedOrgDiv.appendChild(orgNameAnchor);
			listedOrgDiv.appendChild(lineBreak);
			listedOrgDiv.appendChild(orgDescriptionTextNode);
			main.innerHTML=null;
			main.appendChild(listedOrgDiv);
		}
	}).catch(error => {
        console.error(error);
    });
}

function admin_load_members(id) {
	var data={}
	data['id']=id;
	const pyoptions={data,csrf,urlprefix,url:'admin_load_members',submit_mode:'silent'}
	pylims_post(pyoptions).then(result => {
		console.log('pylims.post result',result);
	    page_title.append(` to ${org_data[id].organization_name}`);
		// Create a table element
		var table = document.createElement('table');

		// Create a table header row
		var headerRow = document.createElement('tr');

		// Create the first header cell
		var headerCell1 = document.createElement('th');
		headerCell1.textContent = 'Account';
		headerRow.appendChild(headerCell1);

		// Create the second header cell
		var headerCell2 = document.createElement('th');
		headerCell2.textContent = 'Member';
		headerRow.appendChild(headerCell2);

		// Append the header row to the table
		table.appendChild(headerRow);

		// Create rows and cells for the table body
		for (let member of result.data) {
			// Create a table row
			var row = document.createElement('tr');

			// Create the first cell
			var cell1 = document.createElement('td');
			cell1.textContent = member.email;
			row.appendChild(cell1);

			// Create the second cell
			var cell2 = document.createElement('td');
			var checkbox = document.createElement('input');
			checkbox.type = 'checkbox';
			checkbox.className = 'assign_org';
			checkbox.value = member.userid; // Assuming member.userid is defined elsewhere
			if (member.uoid) {
				checkbox.checked=true;
			}
			// Append the input element to the table cell
			cell2.appendChild(checkbox);
			row.appendChild(cell2);

			// Append the row to the table
			table.appendChild(row);
		}

		// Append the table to the document body
		main.innerHTML=null;
		main.appendChild(table);
		gen_msg_elements(main);
		const saveButton = document.createElement('button');
		saveButton.id="admin_assign_save";
		saveButton.classList.add('button_save');
		saveButton.textContent = 'Save Members';
		main.appendChild(saveButton);
		saveButton.addEventListener('click', function() {
			admin_assign_save(id);
		});
		document.querySelectorAll('.assign_org').forEach(function(ele) {
			ele.addEventListener('input',function() { clear_msg_elements(true); })
		});
	}).catch(error => {
        console.error(error);
      });
}

function admin_assign_save(id) {
	var data={};
	data.id=id;
	data.members=[];
	data.nonmembers=[];
	document.querySelectorAll('.assign_org:checked').forEach(function(member) {
		data.members.push(member.value);
	})
	document.querySelectorAll('.assign_org:not(:checked)').forEach(function(member) {
		data.nonmembers.push(member.value);
	});
	console.log(data);
	const pyoptions={data,csrf,urlprefix,url:'admin_assign_save',submit_mode:'success'}
	pylims_post(pyoptions).then(result => {
		console.log('pylims.post result x',result.data);
		
	}).catch(error => {
        console.error(error);
    });
}
admin_list_orgs();
</script>{% endblock %}