{% extends 'index.html' %}
{% load static %}
{% block title %}pylims{% endblock %}
{% block headdata %}
<script src="{% static 'js/pylims_common.js' %}"></script>
<script src="{% static 'js/pylims_request.js' %}"></script>
<script src="{% static 'js/pylims_ui.js' %}"></script>
<script src="{% static 'js/pylims_popup.js' %}"></script>
<script src="{% static 'js/projects.js' %}"></script>
<script src="{% static 'js/samples.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/pylims_ui.css' %}">
<style>
	
</style>
{% endblock %}
{% block centercontent %}

<div id="projects" class="center-border">
	<div class="h1">Projects</div>
	<button id="new_project_button" class="button-hover-right" onClick="newProject();"><div><i class="fa-regular fa-folder-plus"></i> New Project</div>
	<!--<div id="arrowBox"><div id="hoverBox"><a href="#">From Template</a></div></div>-->
	</button>
</div>

{% endblock %}

{% block javascript %}

<script>
const active_mods = {{ active_mods|safe }};
const mod={{ mod|safe }};
const urlprefix='{{url}}';
const options={{ mod_options|safe }};
const csrf = '{{ csrf_token }}';
const mod_data = {{ mod_data|safe }};
const workflows = {{ mod_data.automations.workflows|safe }};
const containers = {{ mod_data.containers.containers|safe }};
const main = document.getElementById('account_logout');
const project_container=document.getElementById('projects');

const projectlist = new content_container('project_list',project_container)
const newproject = new content_container('newproject',project_container)

load_projects()
</script>{% endblock %}