{% extends 'index.html' %}
{% load static %}
{% block title %}pylims{% endblock %}
{% block headdata %}
<script src="{% static 'js/pylims_common.js' %}"></script>
<script src="{% static 'js/pylims_request.js' %}"></script>
<script src="{% static 'js/pylims_ui.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/pylims_ui.css' %}">
<style>
	.button-hover-right {
		position:relative;
		width:fit-content;
		border:solid 1px var(--accent5);
		padding:10px;
		padding-right:30px;
	}
	#arrowBox {
	    position: absolute;
		top: 0px;
		right: 0px;
		padding: 0px;
		margin: 0px;
		font-size: 20px;
		background-color: var(--accent3);
		height: 100%;
		width: 20px;
		line-height: 20px;
	}

	#arrowBox::after {
		content: '';
		position:absolute;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font: var(--fa-font-solid);
		content: "\f0da";
		top: calc(50% - 10px);
		height: 20px;
		width: 12px;
		left: calc(50% - 6px);
		
	}
	

	#hoverBox {
	  display: none;
	  position: absolute;
	  top: 10px;
	  right: -183px; 
	  background-color:var(--inputhover);
	  padding: 10px 0px;
	  width:180px;
	  font-size:16px;
	  border: solid 1px var(--accent7);
	}

	#hoverBox a {
	  display: block;
	  margin: 5px 0;
	  padding:0px 10px;
	}
	
	#hoverBox a:hover {
		background-color:var(--accent3);
		color:#ffffff;
	}
	#arrowBox:hover #hoverBox {
		display:block;
	}
	.project {
		height: 40px;
		border-bottom: solid 1px #cccccc;
		line-height: 40px;
	}
	#new_project_button {
		margin:20px 0px;
	}
	.project_owner {
		font-size: 14px;
		border: solid 1px #306998;
		padding: 2px 5px;
		border-radius: 13px;
		background-color: #f7f7f7;
		color: #306998;
		width: fit-content;
	}
</style>
{% endblock %}
{% block centercontent %}

<div id="projects" class="center-border">
	<div>Protocols detail how to do one assay. Multiple protocols can be chained together in a workflow.</div>
	<button id="new_project_button" class="button-hover-right" onClick="newProject();"><div><i class="fa-regular fa-clipboard-list"></i> New Protocol</div>
	</button>
</div>

{% endblock %}

{% block javascript %}

<script>
const active_mods = {{ active_mods|safe }};
const mod={{ mod|safe }};
const urlprefix='{{url}}';
const options={{ mod_options|safe }};
const csrf = '{{ csrf_token }}';
const mod_data = {{ mod_data|safe }};
const main = document.getElementById('account_logout');

const project_container=document.getElementById('projects');

const projectlist = new content_container('project_list',project_container)
const newproject = new content_container('newproject',project_container)

function load_protocols() {
	newproject.hide();
	projectlist.clear();
	if (mod_data['error']) {
		const load_error = document.createElement('div');
		load_error.classList.add('localerror');
		load_error.textContent=mod_data['error'];
		load_error.style.display='block';
		projectlist.add(load_error);
	}
	
	if (mod_data['projects']) {
		for (const p of mod_data['projects']) {
			const header_name = document.createElement("div");
			header_name.textContent = p['project_name'];
			header_name.classList.add('h1');
			projectlist.add(header_name);
			
			const owner = document.createElement("div");
			owner.innerHTML='<i class="fa-solid fa-lock"></i> '+p['owner'];
			owner.classList.add('project_owner');
			projectlist.add(owner);

		}
		if (mod_data['projects'].length>1) {
			return false;
		}
		const project_dashboard = document.createElement("div");
		project_dashboard.id='project_dashboard';
		project_dashboard.textContent='More dashboard stuff available through other modules/plugins in the future.';
		projectlist.add(project_dashboard);
		
		const button_container = document.createElement("div");
		button_container.classList.add('button_container');
		projectlist.add(button_container);
		
		const share_button = document.createElement('button');
		share_button.id="new_experiment_button";
		share_button.classList.add("button-hover-right")
		share_button.innerHTML='<i class="fa-regular fa-user-group"></i> Sharing';
		share_button.addEventListener('click',shareExperiment);
		button_container.append(share_button);
		
	
		if (active_mods['experiments']) {
			const new_experiment_button = document.createElement('button');
			new_experiment_button.id="new_experiment_button";
			new_experiment_button.classList.add("button-hover-right")
			new_experiment_button.innerHTML='<i class="fa-regular fa-flask"></i> Add Experiment';
			new_experiment_button.addEventListener('click',newExperiment);
			button_container.append(new_experiment_button);
		}
		if (active_mods['goals']) {
			const new_goal_button = document.createElement('button');
			new_goal_button.id="new_goal_button";
			new_goal_button.classList.add("button-hover-right")
			new_goal_button.innerHTML='<i class="fa-regular fa-flag"></i> Add Goal';
			new_goal_button.addEventListener('click',newGoal);
			button_container.append(new_goal_button);
		}
	}
	projectlist.show();
}

function newExperiment() {
	if (!active_mods['experiments']) {
		const load_error = document.createElement('div');
		load_error.classList.add('localerror');
		load_error.textContent='Experiments Module not enabled';
		load_error.style.display='block';
		projectlist.add(load_error);
		return false;
	}
	window.location.href=`https://${window.location.hostname}/modules/experiments?new=${mod_data['projects'][0].pid}`;
}

function newGoal() {
	if (!active_mods['goals']) {
		const load_error = document.createElement('div');
		load_error.classList.add('localerror');
		load_error.textContent='Goals Module not enabled';
		load_error.style.display='block';
		projectlist.add(load_error);
		return false;
	}
}

function shareExperiment() {
	
}

function newProject() {
	projectlist.hide();
	if (newproject.initialized) {
		newproject.show();
		return;
	}
	
	const header_group = document.createElement("div");
	header_group.textContent = 'Group';
	header_group.classList.add('h1');
	newproject.add(header_group);
	
	const content_project = document.createElement("div");
	content_project.classList.add('indented');
	newproject.add(content_project);
	
	const indv_container = document.createElement("div");
	var radio = document.createElement("input");
    radio.setAttribute("type", "radio");
	radio.checked=true;
	radio.name="new_project";
	radio.value='self';
	indv_label = document.createTextNode("Private Project");
	const indv_value = document.createElement("input");
	indv_value.type='hidden';
	indv_value.value='self';
	indv_value.id='self_project';
	
    indv_container.appendChild(radio);
	indv_container.appendChild(indv_label);
	indv_container.classList.add("project");
	content_project.appendChild(indv_container);
	indv_container.appendChild(indv_value);
	
	if (active_mods['teams'] && mod_data['teams']) {
		console.log(mod_data['teams'])
		const team_container = document.createElement("div");
		team_container.classList.add("project");
		const team_radio = document.createElement("input");
		team_radio.name="new_project";
		team_radio.setAttribute("type", "radio");
		team_radio.value='teams';
		const team_label = document.createTextNode("Team Project");
		const team_select = document.createElement("select");
		
		team_container.appendChild(team_radio);
		team_container.appendChild(team_label);
		content_project.appendChild(team_container);
		
		if (mod_data['teams']) {
			console.log('teams',mod_data['teams'])
			var dd = new dropdown('teams_project',team_container);
			dd.add_options({type:'dict',dict:mod_data['teams'], keys:'teamid', values:'team_name', img:'team_image'});
			dd.ele.addEventListener('dropdownchange', function() { team_radio.checked=true; });
		}	
	}
	
	if (active_mods['departments'] && mod_data['departments']) {
		const departments_container = document.createElement("div");
		departments_container.classList.add("project");
		const departments_radio = document.createElement("input");
		departments_radio.name="new_project";
		departments_radio.setAttribute("type", "radio");
		departments_radio.value='departments';
		const departments_label = document.createTextNode("Department Project");
		const departments_select = document.createElement("select");
		
		departments_container.appendChild(departments_radio);
		departments_container.appendChild(departments_label);
		content_project.appendChild(departments_container);
		
		if (mod_data['departments']) {
			console.log('departments',mod_data['departments'])
			var dd = new dropdown('departments_project',departments_container)
			dd.add_options({type:'dict',dict:mod_data['departments'], keys:'deptid', values:'dept_name', img:'dept_image'});
			dd.ele.addEventListener('dropdownchange', function() { departments_radio.checked=true; });
		}	
	}
	const header_settings = document.createElement("div");
	header_settings.textContent = 'Settings';
	header_settings.classList.add('h1');
	newproject.add(header_settings);
	
	const content_settings = document.createElement("div");
	content_settings.classList.add('indented');
	newproject.add(content_settings);
	
	var new_project_name = document.createElement("input");
	new_project_name.type='text';
	new_project_name.id='new_project_name';
	new_project_name.placeholder='New Project Name';
	new_project_name.style.width='100%';
	content_settings.appendChild(new_project_name);
	
	
	
	const button_container = document.createElement("div");
	button_container.classList.add('button_container');
	newproject.add(button_container);
	gen_msg_elements(button_container)
	var cancel_project_button = document.createElement("button");
	cancel_project_button.innerHTML='Nevermind';
	cancel_project_button.id='create_project_cancel';
	button_container.appendChild(cancel_project_button);
	cancel_project_button.addEventListener('click',function() { projectlist.show(); newproject.hide(); });

	var create_project_button = document.createElement("button");
	create_project_button.innerHTML='<i class="fa-regular fa-folder-plus"></i> Create Project';
	create_project_button.id='create_project_button';
	button_container.appendChild(create_project_button);
	create_project_button.addEventListener('click',createProject);
	
	newproject.show();
}

function createProject() {
	let data={}
	data['type']=document.querySelector('input[name=new_project]:checked').value;
	data['id']=document.getElementById(data['type']+'_project').getAttribute('value');
	data['name']=document.getElementById('new_project_name').value;
	if (!data['id']) {
		localerror('You chose '+data['type']+' project type, but did not choose a valid option.');
		return false;
	}
	if (!data['name']) {
		localerror('Create a project name, even if it\'s a placeholder.');
		return false;
	}
	const pyoptions={data,csrf,urlprefix,url:'ajax_create_project',submit_mode:'success', submit_id:'create_project_button'}
	pylims_post(pyoptions).then(result => {
		console.log('pylims.post result x',result.data);
		
	}).catch(error => {
        console.error(error);
    });
}

function localerror(msg) {
	error_element = document.getElementById('pylims_request_error');
	error_element.textContent=msg;
	error_element.style.display='block';
}

load_protocols()

</script>{% endblock %}