{% extends 'index.html' %}
{% load static %}
{% block title %}pylims/departments{% endblock %}
{% block headdata %}
<script src="{% static 'js/pylims_request.js' %}"></script>
<style>
	
</style>
{% endblock %}
{% block centercontent %}

<div id="departments" class="center-border">
{{ adminlinks|safe }}
{% if mod_data.organization %}
    <div id="breadcrumbs"><a href="/modules/organization"><i class="fa-light fa-sitemap"></i></a> <i class="fa-solid fa-caret-right"></i> <a href="/modules/organization/?id={{ mod_data.data.oid }}">{{ mod_data.data.organization_name }}</a> <i class="fa-solid fa-caret-right"></i> Departments </div>
{% endif %}
<img src="{{ mod_data.data.dept_image }}" style="height:80px;">
<div class="h1">{{ mod_data.data.dept_name }}</div>
<div class="normal">{{ mod_data.data.dept_description }}</div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}