{% extends 'index.html' %}
{% load static %}
{% block title %}pylims/departments{% endblock %}
{% block headdata %}
<script src="{% static 'js/pylims_request.js' %}"></script>
<style>
	
</style>
{% endblock %}
{% block centercontent %}

<div id="departments" class="center-border">
{{ adminlinks|safe }}
<img src="{{ mod_data.data.image }}" style="height:80px;">
<div class="h1">{{ mod_data.data.dept_name }}</div>
<div class="normal">{{ mod_data.data.dept_description }}</div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}