{% extends 'index.html' %}
{% load static %}
{% block title %}Velocity LIMS{% endblock %}
{% block headdata %}
<script src="{% static 'js/pylims_common.js' %}"></script>
<script src="{% static 'js/pylims_request.js' %}"></script>
<script src="{% static 'js/pylims_ui.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/pylims_ui.css' %}">
<style>
	protocol {
		background-color:var(--accent3);
		color:white;
		display:block;
		position:relative;
		border-radius:3px;
		padding:3px 10px;
	}
	queue {
		background-color:var(--gray-lightest);
		color:black;
		display:block;
		position:relative;
		border-radius:3px;
		padding:3px 10px;
		margin-left:30px;
		margin-bottom:2px;
		margin-top:2px;
		border:solid 1px var(--gray-med);
		clear:both;
	}
	queue:hover {
		background-color:var(--accent9);
		cursor:pointer;
	}
	steporder {
		display:inline-block;
		width:60px;
		font-size:12px;
		font-weight:bold;
	}
	steporder::before {
		content:'Step ';
	}
	steporder::after {
		content:' »';
	}
	stepname {
		display:inline-block;
	}
	samplecount, validationcount {
		float:right;
		position:relative;
		box-sizing:border-box;
		padding:1px;
		top:-2px;
		height:100%;
		margin-left:10px;
		font-size:16px;
		font-weight:bold;
		width:50px;
		text-align:right;
	}
	samplecount {
		color:var(--blue-dark);
	}

	protocolsamples {
		float:right;

	}
	.button-hover-right {
		position:relative;
		width:fit-content;
		border:solid 1px var(--accent5);
		padding:10px;
		padding-right:30px;
	}
	#arrowBox {
	    position: absolute;
		top: 0px;
		right: 0px;
		padding: 0px;
		margin: 0px;
		font-size: 20px;
		background-color: var(--accent3);
		height: 100%;
		width: 20px;
		line-height: 20px;
	}

	#arrowBox::after {
		content: '';
		position:absolute;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font: var(--fa-font-solid);
		content: "\f0da";
		top: calc(50% - 10px);
		height: 20px;
		width: 12px;
		left: calc(50% - 6px);
		
	}
	

	#hoverBox {
	  display: none;
	  position: absolute;
	  top: 10px;
	  right: -183px; 
	  background-color:var(--inputhover);
	  padding: 10px 0px;
	  width:180px;
	  font-size:16px;
	  border: solid 1px var(--accent7);
	}

	#hoverBox a {
	  display: block;
	  margin: 5px 0;
	  padding:0px 10px;
	}
	
	#hoverBox a:hover {
		background-color:var(--accent3);
		color:#ffffff;
	}
	#arrowBox:hover #hoverBox {
		display:block;
	}
	.project {
		height: 40px;
		border-bottom: solid 1px #cccccc;
		line-height: 40px;
	}
	#new_project_button {
		margin:20px 0px;
	}
	step {
		background-color:var(--accent1);
		text-align:left;
		display:block;
		position:relative;
		margin:3px 50px;
		padding:0px;
		height:auto;
		line-height:revert;
		border:solid 1px var(--gray-dark);
	}
	step a {
		text-decoration:none;
		border-left:solid 1px var(--accent3);
		display:inline-block;
		padding:4px;
		color:var(--purple-light);
		font-size:14px;
		padding-left:15px;
	}
	workflowname {
		padding:4px;
		display:inline-block;
		width:100px;
		border-right:solid 1px var(--gray-dark);
		color:white;
		font-size:14px;
	}
    .searchtype {
        flex:1;
    }
    details {
        display: block;
        background-color: var(--accent8);
        width: 200px;
        margin: 5px;
        
        border: solid 1px var(--accent7);
        border-radius: 3px;
        
    }
    summary {
        padding: 5px;
    }
    summary:hover {
        
        cursor: pointer;
        background-color:var(--accent9);
    }
    reqsample {
        width: 100%;
        display: block;
        margin-left: 30px;
    }
    assay {
        display: block;
        border: solid 2px var(--green-med);
        margin: 10px 0px;
        padding: 20px;
        background-color: var(--green-light);
    }
</style>
{% endblock %}
{% block centercontent %}
<div class="center-border" style="display:flex;">
	<div class="searchtype"> Find a Requisition:
        <br><input type="text"></div>
    <div class="searchtype"> Find a Sample:
        <br><input type="text"></div>
    <div class="searchtype"> Find a Container:
        <br><input type="text"></div>
    <div class="searchtype"> Find a Batch:
        <br><input type="text"></div>
</div>
<div style="display:flex">
    <div class="center-border">
        <div>Latest Requisitions:</div>
        <div id="requisitions"></div>
    </div>
    <div class="center-border">
        <div>Active Assays:</div>
        <div id="active_assays"></div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script>
const csrf = '{{ csrf_token }}';
const default_reqs = {{ last_20 | safe }};
const default_samples = {{ samples | safe }};
const main = document.getElementById('queues');
const requisitions = document.getElementById('requisitions');
const velocity_assays = {{ assays | safe }};
const active_assays = document.getElementById('active_assays');

for (let req of default_reqs) {
    let req_details = document.createElement('details');
    req_details.id='req_'+req.reqid;
    let req_summary = document.createElement('summary');
    req_details.appendChild(req_summary);
    req_summary.innerHTML+=req.req_name;
    requisitions.appendChild(req_details)
}
class Sample {
	constructor(data) {
		for (let datum in data) {
			this[datum] = data[datum]
		}
		this.element = document.createElement('reqsample');
        this.element.textContent=data.sample_name;
    }
}
var samples = {}
for (let sample of default_samples) {
    samples[sample.smid] = new Sample(sample)
    const sample_req = document.getElementById('req_'+sample.req)
    sample_req.appendChild(samples[sample.smid].element)
}

class Assay {
	constructor(data) {
		for (let datum in data) {
			this[datum] = data[datum]
		}
		this.element = document.createElement('assay');
        this.element.textContent=data.assay_name;
    }
}

var assays = {}
for (const assay of velocity_assays) {
    assays[assay.assayid] = new Assay(assay)
    active_assays.appendChild(assays[assay.assayid].element)
}

function localerror(msg) {
	error_element = document.getElementById('pylims_request_error');
	error_element.textContent=msg;
	error_element.style.display='block';
}


</script>{% endblock %}