<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %}Velocity LIMS{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'themes/pylims_velocity_v1.0/default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}">
	<link rel="icon" href="{% static 'themes/pylims_velocity_v1.0/icon.svg' %}" type="image/svg+xml">
	{% csrf_token %}
	{% block headdata %}{% endblock %}
</head>
<body>
	<div id="login-pylims-logo"><a href="{% url 'home' %}"><img  src="{% static 'themes/pylims_velocity_v1.0/logo.svg' %}" alt="pylims logo"></a></div>
	<div id="header">
		{% if userid %}
		<a href="{% url 'show_logout' %}">Logout</a> | <a href="{% url 'display_queues' %}">Lab Queues</a> | <a href="{% url 'display_samples' %}">Samples</a> | <a href="{% url 'settings' %}">Settings</a>  
		{% endif %}
		{% if not userid %}
			<a href="{% url 'show_login' %}">Login</a>
		{% endif %}
	</div>
	<div id="center-content">
	{% block stepbreadcrumbs %}{% endblock %}
	{% block centercontent %}
	
	{{ adminlinks|safe }}
	<div class="center-border">
	<p>Welcome to your locally installed pylims server. Login as the default account to begin setup.</p><table>
		{% for stat in info %}
			<tr><td>{{stat.0}}</td><td>{{stat.1}}</td></tr>
		{% endfor %}
	</table>
	</div>
	{% endblock %}
	{% if template %}
    {% include template %}
{% endif %}
		
	</div>
<div id="footer"><a href="https://velocitylims.com">Velocity LIMS&trade;</a> by Pylims LLC &copy; 2023 - 2025 | <a href="https://github.com/brianbgriffiths/velocity-lims">Open Source on Github</a></div>
</body>
{% block javascriptcommon %}{% endblock %}
{% block javascript %}{% endblock %}

</html>
