{% extends 'index.html' %}
{% load static %}
{% block title %}pylims{% endblock %}
{% block headdata %}
<script src="{% static 'js/pylims_request.js' %}"></script>
<style>
	#pylims_request_error {
		border:solid 1px #ff0000;
		color:#ff0000;
		background:#660000;
		padding:10px;
		display:none;
		margin:10px 0px;
	}
	#pylims_request_success {
		border:solid 1px #00ff00;
		color:#00ff00;
		background:#006600;
		padding:10px;
		display:none;
		margin:10px 0px;
	}
</style>
{% endblock %}
{% block centercontent %}

<div id="account_login" class="center-border">

	
	
</div>

{% endblock %}

{% block javascript %}
<script>
const csrf = '{{ csrf_token }}';

const main = document.getElementById('account_login');

var container = document.createElement("div");
var textbox = document.createElement("input");
container.appendChild(textbox)
textbox.type="text";
textbox.placeholder='Email';
textbox.id='login-account'
textbox.dataset.type='email'
main.appendChild(container);

var pcontainer = document.createElement("div");
var password = document.createElement("input");
pcontainer.appendChild(password)
password.type="password";
password.placeholder='password';
password.id='login-password'
main.appendChild(pcontainer);

var error = document.createElement("div");
error.id='pylims_request_error';
main.appendChild(error);

var success = document.createElement("div");
success.id='pylims_request_success';
main.appendChild(success);

var button = document.createElement("button");
button.innerText='Login';
button.id='login-button';
main.appendChild(button)
button.addEventListener('click', login);


function login() {
	let data={}
	data['login']=document.getElementById('login-account').value;
	data['logintype']=document.getElementById('login-account').dataset.type;
	data['password']=document.getElementById('login-password').value;
	const pyoptions={data,csrf,urlprefix,url:'login_submit',submit_id:'login-button',submit_mode:'success'}
	pylims_post(pyoptions).then(result => {
	  console.log('pylims.post result',result);
	  setTimeout(function() { window.location.href=`https://${window.location.hostname}`; }, 1000);  
	}).catch(error => {
        console.error(error);
      });
	
}
</script>{% endblock %}