{% extends 'index.html' %}
{% load static %}
{% block title %}pylims/automations{% endblock %}
{% block headdata %}
<script src="{% static 'js/pylims_common.js' %}"></script>
<script src="{% static 'js/pylims_request.js' %}"></script>
<script src="{% static 'js/pylims_ui.js' %}"></script>
<script src="{% static 'js/pluralize.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/pylims_ui.css' %}">
<style>
	
</style>
{% endblock %}
{% block centercontent %}

<div id="automations" class="center-border">
{{ adminlinks|safe }}


<div>Run samples through automations.</div>
<div id="wf_container"></div>
</div>

{% endblock %}

{% block javascript %}
<script>
const active_mods = {{ active_mods|safe }};
const mod={{ mod|safe }};
const urlprefix='{{url}}';
const options={{ mod_options|safe }};
const csrf = '{{ csrf_token }}';
const mod_data = {{ mod_data|safe }};
var workflows={}
var steps={}

const Step = class {
	constructor(options) {
		for (let x in options) {
			this[x]=options[x];
		}
	}
}

console.log('md steps',mod_data.steps)
for (let step in mod_data.steps) {
	console.log('new step',step);
	steps[step] = new Step(mod_data.steps[step]);
}

const main = document.getElementById('automations');
const wf_container = document.getElementById('wf_container');

const Workflow = class {
	constructor(options) {
		for (let x in options) {
			this[x]=options[x];
		}
		console.log('new wf',options)
		this.element = document.createElement('workflow');
		const title = document.createElement('wftitle');
		title.innerHTML=options.name;
		this.element.appendChild(title);
		for (let step in options.steplist) {
			const s = document.createElement('step');
			console.log(step)
			console.log(options.steplist[step]['asid'])
			console.log(steps[options.steplist[step]['asid']]['type'])
			const stepinfo = steps[options.steplist[step]['asid']]

			if (stepinfo['type']=='Function') {
				continue;
			}
			if (options.steplist[step]['count']>0) {
				const link=document.createElement('a');
				link.href=`/modules/automations/queue/${options.steplist[step]['queue']}`
				link.innerHTML=options.steplist[step]['name'];
				s.appendChild(link)
			} else {
				s.innerHTML = options.steplist[step]['name'];
			}
			this.element.appendChild(s)
			let samplecount_element=document.createElement('samplecount');
        	samplecount_element.textContent = options.steplist[step]['count'];
			s.appendChild(samplecount_element)
		}
	}
}

for (let wf in mod_data.workflows) {
	workflows[wf] = new Workflow(mod_data.workflows[wf]);
	wf_container.appendChild(workflows[wf].element);
}








</script>
{% endblock %}