{% extends 'index.html' %}
{% load static %}
{% block title %}pylims{% endblock %}
{% block headdata %}
<link rel="stylesheet" href="{% static 'css/automations_configure.css' %}">
<script src="{% static 'js/pylims_request.js' %}"></script>

<style>
	

</style>
{% endblock %}
{% block centercontent %}
<div id="pylims_request_error"></div><div id="pylims_request_success"></div>
<div id="automations" class="center-border">
	{{ adminlinks | safe }}
	
	<div class="h1">Configure Automations</div>
	<div id="automation_container">
		<div class="auto_column" id="ac_steps">
			<div class="auto_header">Steps<div class="auto_add" onClick="add_new_step();"></div></div>
			<div id="steps" class="auto_content">
				<div class="search_box"><input type="text"></div>
				<div id="new_step">
					<input id="new_step_input" type="text" placeholder="New Step Name">
					<button id="create_new_step" class="auto_button1" onClick="create_new_step();">Create</button>
				</div>
				<div id="step_list"></div>
			</div>
		</div>
		<div class="auto_column"><div class="auto_header">Ancestry</div> <div id="ancestry" class="auto_content"></div>	</div>
		<div class="auto_column"><div class="auto_header">Workflows<div class="auto_add"></div></div><div id="workflows" class="auto_content"></div></div>
	</div>
	<div id="window_bar"></div>
</div>
<div id="edit_window" class="center-border">
	<div id="edit_header">
		<div id="edit_header_title">Select Step to Edit</div>
		<div id="edit_windowed" class="fa_button" onClick="edit_window_open();"><i class="fa-light fa-window-restore"></i></div>
		<div id="edit_docked" class="fa_button" style="display:none;" onClick="edit_window_dock()"><i class="fa-light fa-diagram-next"></i></div>
		<div id="edit_maximize" class="fa_button" onClick="edit_window_maximize()"><i class="fa-light fa-window-maximize"></i></div>
		<div id="edit_minimize" class="fa_button" onClick="edit_window_minimize()"><i class="fa-light fa-window-minimize"></i></div>
	</div>
	<div id="edit_content">
		Select Step to Edit

	</div>
</div>
{% endblock %}

{% block javascript %}
<script>
const mod={{ mod|safe }};
const user={{ user|safe }};
const urlprefix='{{url}}';
const options={{ mod_options | safe }};
const csrf = '{{ csrf_token }}';
const mod_data = {{ mod_data | safe }};



window.onload = function() {
    const pyoptions={data:{},csrf,urlprefix,url:'admin_list_automations',silent:true}
	pylims_post(pyoptions).then(result => {
		console.log('pylims post result:',result);
		populate_step_list(result.data);
	}).catch(error => {
		console.error(error);
	});
};

</script>
<script src="{% static 'js/automations_configure.js' %}"></script>
{% endblock %}