{% extends 'index.html' %}
{% load static %}
{% block title %}pylims{% endblock %}
{% block headdata %}
<script src="{% static 'js/pylims_request.js' %}"></script>
<style>
	#account_creation_error {
		border:solid 1px #ff0000;
		color:#ff0000;
		background:#660000;
		padding:10px;
		display:none;
		margin:10px 0px;
	}
	#account_creation_success {
		border:solid 1px #00ff00;
		color:#00ff00;
		background:#006600;
		padding:10px;
		display:none;
		margin:10px 0px;
	}
</style>
{% endblock %}
{% block centercontent %}

<div id="account_creation" class="center-border">
	
</div>

{% endblock %}

{% block javascript %}
<script>
const mod={{ mod|safe }};
const urlprefix='{{url}}';
const options={{ mod_options|safe }};
const csrf = '{{ csrf_token }}';

console.log('mod',mod,'options',options)
const main = document.getElementById('account_creation');

var optioncount=0;
for (let x in options) {
	if (options[x]=="true") {
		if (x=='password_complex') { continue; }
		optioncount++;
		var container = document.createElement("div");
		var textbox = document.createElement("input");
		container.appendChild(textbox)
		textbox.type="text";
		textbox.placeholder=x;
		if (x=='password') {
			textbox.type='password';
		}
		textbox.id=`createaccount_${x}`;
		main.appendChild(container);
	}
}
if (optioncount>0) {
	var error = document.createElement("div");
	error.id='account_creation_error';
	main.appendChild(error);
	
	var success = document.createElement("div");
	success.id='account_creation_success';
	main.appendChild(success);
	
	var button = document.createElement("button");
	button.innerText='create account';
	button.id='create_button';
	main.appendChild(button)
	button.addEventListener('click', create);
}

function create() {
	let data={}
	for (let x in options) {
		if (options[x]=="true") {
			data[x]=document.getElementById(`createaccount_${x}`).value;
		}
	}
	const pyoptions={data,csrf,urlprefix,url:'create_account',submit_id:'create_button',error_id:'account_creation_error',success_id:'account_creation_success',submit_mode:'success'}
	const result = pylims_post(pyoptions);
	console.log('result',result)
}
</script>{% endblock %}