{% extends 'index.html' %}

{% block title %}pylims{% endblock %}

{% block centercontent %}
<div id="modules">Welcome to pylims!<br><br><a href="/modules/account_creation/create_account/">Create a pylims account</a>{% endblock %}

{% block javascript %}
<script>
fetch("/create_account/", {
	  method: "POST",
	  headers: {
		"Content-Type": "application/json",
		'X-CSRFToken': '{{ csrf_token }}'
	  },
	  body: JSON.stringify({test:'test'})
	})
	  .then(response => {
		// Check if the request was successful (status code 2xx)
		if (!response.ok) {
		  throw new Error("Network response was not ok");
		}
		// Parse and handle the response data (if any)
		return response.json();
	  })
	  .then(data => {
		console.log("Response:", data);
	  })
	  .catch(error => {
		// Handle errors
		console.error("Error:", error);
	  });
</script>{% endblock %}